* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav-bar */

.nav-bar {
    background-color: #1C1E53;
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    justify-content: space-evenly;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */


    color: #BBBBCB;
    margin-right: 32px;
}

.nav-h2:hover {
    opacity: .5;
}

a {
    text-decoration: none;
}

.button-nav {
    border: 2px solid rgba(244, 246, 252, 0.2);
    border-radius: 41px;
    background: none;

    width: 175px;
    height: 55px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */


    /* White */

    color: #FFFFFF;
    cursor: pointer;
}

/* contact-text */

.contact-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-text_h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    /* identical to box height, or 133% */

    text-align: center;

    /* Dark blue */

    color: #282938;
    margin-top: 110px;
}

.contact-text_h3 {
    margin-top: 12px;
    width: 502px;
    height: 56px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */

    text-align: center;

    /* Dark blue */

    color: #282938;

    opacity: 0.7;
}

.input-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-box:nth-child(2) {
    margin-left: 30px;
}

.input-box:nth-child(4) {
    margin-left: 30px;
    margin-top: 24px;
}

.input-box:nth-child(3) {
    margin-top: 24px;
}

.contact-form_grid {
    display: grid;
    grid-template-columns: 470px 470px;
}

.input {
    width: 438px;
    height: 60px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 18px 32px;
    gap: 10px;

    width: 438px;
    height: 64px;

    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 8px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */


    color: #000000;
    outline: none;

}

.contact-form {
    width: 1061px;
    height: 690px;

    background: #F4F6FC;
    border-radius: 12px;
    margin: 0 auto;

    display: flex;
    margin-top: 60px;
    justify-content: center;
}

.forms-c {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

.area-box {
    margin-top: 15px;
}

.h1-input {
    font-family: Poppins,
        sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: rgb(0, 0, 0);
    opacity: 0.8;
}

.textarea {
    min-width: 940px;
    min-height: 176px;

    max-width: 940px;
    max-height: 176px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 18px 32px;
    gap: 10px;

    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 8px;

    font-family: 'Poppins',
        sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */


    color: #000000;
    outline: none;
}

.send-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 51px;
    gap: 10px;

    width: 254px;
    height: 64px;

    /* Dark blue */

    background: #282938;
    border-radius: 41px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    /* identical to box height, or 178% */


    /* Grey */

    color: #F4F6FC;
    border: none;
    margin-top: 32px;
    cursor: pointer;
}

.error {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */


    color: #000000;
}

/* footer */
.footer {
    margin-top: 128px;
}

.footer-container {
    background: #1C1E53;
    width: 1349px;
    height: 397px;

    display: flex;
    align-items: center;
    padding-left: 140px;
    position: relative;
}

.footer-container_1 {
    margin-right: 240px;
}

.footer-container_block {
    position: absolute;
    bottom: 0;
    left: 140px;

    width: 517px;
    height: 95px;
    background: #FCD980;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer-container_block-email {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.h1-email {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    /* identical to box height, or 178% */


    /* Dark blue */

    color: #282938;
}

.h3-email {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */


    /* Dark blue */

    color: #282938;

    opacity: 0.8;
}

.footer-container_p {
    width: 399px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */


    /* White */

    color: #FFFFFF;

    opacity: 0.8;
}

.footer-container_h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    /* identical to box height, or 133% */


    color: #FFFFFF;
}

.footer-down_h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */


    /* Dark blue */

    color: #282938;
}

.footer-down {
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 140px;
    padding-left: 140px;
    justify-content: space-between;
    height: 92px;
}

.menu-teb {
    display: none;
}

.menu {
    display: none;
}

@media screen and (max-width: 500px) {
    .nav {
        display: none;
    }

    .nav-h2 {
        margin-right: 0
    }

    .menu-black {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }

    .button-nav {
        font-family: 'Poppins',
            sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        color: #BBBBCB;
        border: 2px solid rgb(23 45 114 / 30%);
    }

    .nav-teb {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        gap: 1.5rem;

    }

    .menu {
        display: block;
        cursor: pointer;
    }

    .menu-teb {
        display: block;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #fff;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .nav-bar {
        justify-content: space-around;
    }

    .contact-form_grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .input {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 18px 32px;
        gap: 10px;
        width: 350px;
        height: 64px;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #000000;
        outline: none;
    }

    .contact-form {
        width: 100%;
        height: auto;
        background: #F4F6FC;
        border-radius: 12px;
        margin: 0 auto;
        display: flex;
        margin-top: 60px;
        justify-content: center;
        padding-top: 25px;
        padding-bottom: 30px;
    }

    .input-box {
        margin-left: 0;
    }

    .input-box:nth-child(2) {
        margin-left: 0;
    }

    .input-box:nth-child(4) {
        margin-left: 0;
    }

    .contact-text_h3 {
        width: 350px;
    }

    .contact-text_h1 {
        margin-top: 50px;
    }

    .textarea {
        min-width: 350px;
        max-width: 940px;
        max-height: 176px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 18px 32px;
        gap: 10px;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #000000;
        outline: none;
    }

    .footer-container_1 {
        margin-right: 0;
    }

    .footer-container {
        background: #1C1E53;
        width: 100%;
        height: 448px;
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 2rem;
        padding-top: 3rem;
        align-items: flex-start;
        padding-left: 50px;
    }

    .footer-container_p {
        width: 309px;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 28px;
        color: #FFFFFF;
        opacity: 0.8;
    }

    .footer-container_block {
        position: static;
        width: 324px;
        height: 95px;
        background: #FCD980;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .h3-email {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 28px;
        color: #282938;
        opacity: 0.8;
    }

    .footer-down {
        display: flex;
        align-items: center;
        position: relative;
        padding-right: 0;
        padding-left: 0;
        height: 92px;
        justify-content: space-evenly;
    }
}